.flex-container{
    display: flex;
    height: 500px;
    /* flex-direction: row; */
    /* flex-wrap: wrap-reverse; */
    flex-flow: row wrap;
    justify-content: center;
    background-color: blue;
    /* align-items: center; */
    align-content: flex-start;
}
.box{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: burlywood;
}
.bx{
    /* order: 6; */
}